.upload-main {
  padding: 0px 100px;
  font-family: 'Poppins', sans-serif;
}

.subject {
  width: 1200px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap; /* allows wrapping to new line */
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.subject > div {
  flex: 1 1 45%; /* two items per row */
  min-width: 250px; /* don't shrink too much */
}

.subject input, select {
  width: 100%; /* full width of parent */
  height: 30px;
  font-size: 18px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.button-group {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  gap: 20px;
}

.cancel-btn {
  background-color: #f8f8f8;
  border: 1px solid #999;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: #5b27ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  /* margin-left: 80%; */
}
